<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>EduTrack</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/nav.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark custom-navbar sticky-top">
  <div class="container">

    <a class="navbar-brand logo" href="/">EduTrack</a>

    <!-- Toggle Button -->
   <button 
class="navbar-toggler"
type="button"
data-bs-toggle="collapse"
data-bs-target="#navbarNav"
aria-controls="navbarNav"
aria-expanded="false"
aria-label="Toggle navigation">

<span class="navbar-toggler-icon"></span>

</button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto">

<li class="nav-item">
<a class="nav-link <%= currentRoute === '/' ? 'active-link' : '' %>" href="/">Home</a>
</li>

<li class="nav-item">
<a class="nav-link <%= currentRoute === '/viewcourse' ? 'active-link' : '' %>" href="/viewcourse">
Courses
</a>
</li>

<% if(!username) { %>

<li class="nav-item">
<a class="nav-link <%= currentRoute === '/login' ? 'active-link' : '' %>" href="/login">
Login
</a>
</li>

<li class="nav-item">
<a class="nav-link <%= currentRoute === '/register' ? 'active-link' : '' %>" href="/register">
Register
</a>
</li>

<% } else { %>

<li class="nav-item">
<a class="nav-link <%= currentRoute === '/enrollcourse' ? 'active-link' : '' %>" href="/enrollcourse">
Enroll Now
</a>
</li>

<li class="nav-item">
<a class="nav-link <%= currentRoute.includes('/viewdashboard') ? 'active-link' : '' %>" href="/viewdashboard/1">
Dashboard
</a>
</li>

<% if(role === "admin") { %>

<li class="nav-item">
<a class="nav-link <%= currentRoute === '/admin' ? 'active-link' : '' %>" href="/admin">
<span class="badge bg-warning text-dark">ADMIN</span>
</a>
</li>

<% } %>

<li class="nav-item">
<a class="nav-link">Welcome <%= username %></a>
</li>

<li class="nav-item">
<a class="nav-link" href="/logout">Logout</a>
</li>

<% } %>

</ul>

    </div>
  </div>
</nav>

<script>
document.querySelectorAll('.nav-link').forEach(link => {
  link.addEventListener('click', () => {
    const navbarCollapse = document.querySelector('.navbar-collapse');

    const bsCollapse = bootstrap.Collapse.getInstance(navbarCollapse);

    if (bsCollapse) {
      bsCollapse.hide();
    }
  });
});
</script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>